<html>
    <head>
        <title>BeerOverflow - Home</title>
        <link href="~/css/site.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <div>
                <h3>
                    <a href="/Home/Index" class="nav">Home</a>
                    <a href="/Beers/Index" class="nav">Beers</a>
                    <a href="/Home/About" class="nav">About</a>
                    <a href="/api/swagger" class="nav">Developer API</a>
                </h3>
            </div>
        </header>
        <h1> Welcome</h1>

        <img src="~/images/logo.png" />

        <footer>
            <small>© Copyright @DateTime.Now.Year, BeerOverflow</small>
        </footer>

    </body>
</html>
