@inject AspNetCoreDemo.Services.IStylesService stylesService;
@model AspNetCoreDemo.Models.Beer;
@{
    var styles = new SelectList(this.stylesService.GetAll(), "Id", "Name");
    this.ViewData["Title"] = "Create";
    this.ViewData["Action"] = "Create";
    this.ViewData["Submit"] = "Create";
    this.ViewData["BeerNameVisibility"] = "beer-name-visible";
}

<h2>Create a new beer</h2>
<partial name="_BeerForm" />