@inject AspNetCoreDemo.Services.IStylesService stylesService;
@model AspNetCoreDemo.Models.Beer;
@{
    var styles = new SelectList(this.stylesService.GetAll(), "Id", "Name");
    this.ViewData["Title"] = "Edit";
    this.ViewData["Action"] = "Edit";
    this.ViewData["Submit"] = "Save";
    this.ViewData["BeerNameVisibility"] = "beer-name-hidden";
}

<h2>@this.Model.Name</h2>
<partial name="_BeerForm" />

<a asp-controller="Beers" asp-action="Index" class="nav">Back</a>

